.tweet-box {
  border: 2px solid black;
  border-radius: 15px;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.tweet-box header {
  background-color: #DCDCDC;
  border-radius: 15px 15px 0px 0px;
}

article .tweet-box:hover{

}

.tweet-box:hover {
  background-color: #AFAFAF;
}

.tweet-box header:hover {
  background-color: #00a087;
  color: #e8fdff;
}

.tweet-box footer {
  border-top: 1px solid black;
  padding: 5px;
}

.tweet-box .screenpic {
  height: auto;
  float: left;
  padding: 10px;
  border-radius: 15px;
}

.tweet-box .name {
  float: left;
  padding-top: 21px;
  font-size: 25px;
  font-weight: bold;
}

.tweet-box .username {
  float: right;
  padding-top: 25px;
  padding-right: 10px;
  font-size: 17px;
}

.tweet-box p {
  padding: 10px;
}

.tweet-box img {
  height: 15px;
  float: right;
  padding-right: 15px;
  padding-left: 5px;
  margin-top: 2px;
}
