.tweet {
  border: 2px solid black;
  border-radius: 15px;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.tweet header {
  background-color: #DCDCDC;
  border-radius: 15px 15px 0px 0px;
}

.tweet footer {
  border-top: 1px solid black;
}

.tweet .screenpic {
  float: left;
  padding: 10px;
  border-radius: 15px;
}

.tweet .name {
  float: left;
  padding-top: 21px;
  font-size: 25px;
  font-weight: bold;
}

.tweet .username {
  float: right;
  padding-top: 25px;
  font-size: 17px;
}